%aside.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark.bg-gradient{style: 'width: 200px;'}
  .py-4.text-gray-500 
    = link_to @title, root_path, class: 'ml-6 text-lg font-bold text-gray-800'

    %nav.mt-2
      %ul.nav.nav-pills.flex-column.mb-auto
        = render NavitemComponent.new(title: 'dashboard', icon: 'fas fa-tachometer-alt', path: root_path, active: controller_name == 'dashboard')
  .d-flex.flex-column.justify-content-center.align-items-center.gap-2.mt-auto
    - if current_user
      %p= current_user.full_name
      
