%nav.navbar.bg-dark.bg-gradient.d-flex.justify-content-end.px-4
  .items-center
  = link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn btn-primary btn-sm' if current_user
